.Connexion{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Connexion > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 75, 75);
    width: 380px;
    
    border-radius: 10px;
    box-shadow: 3px 8px 15px 5px;
}
.controlNum{
    width: 25% !important;
}
.controltext{
width: 70%!important;
}
.btnConnexion{
    margin-left: 45%;
    margin-right: 10%;
}
.divCo{
    display: flex;
    color:white !important;
}
.linkto{
    color: white !important;
}
.errorCo{
    text-align: center;
    color: red;
    width: 100%;
    font-weight: bold;
}